
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.create-rso-page-k3f {
  box-sizing: border-box;
  padding-bottom: 4.3583rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.create-rso-page-k3f .auto-group-hhu7-Sx5 {
  margin-bottom: 4.2583rem;
  width: 144.1rem;
  height: 90.7rem;
  position: relative;
  flex-shrink: 0;
}
.create-rso-page-k3f .auto-group-hhu7-Sx5 .rectangle-1-95o {
  width: 144rem;
  height: 9.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}
.create-rso-page-k3f .auto-group-hhu7-Sx5 .rectangle-2-rku {
  width: 144rem;
  height: 83rem;
  position: absolute;
  left: 0;
  top: 7.7rem;
  background-color: #f0f4fc;
}
.create-rso-page-k3f .auto-group-hhu7-Sx5 .event-planner-NjF {
  width: 21.5rem;
  height: 4.7rem;
  position: absolute;
  left: 12.5rem;
  top: 2.4rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.28;
  color: #000000;
  font-family: Alatsi, 'Source Sans Pro';
  white-space: nowrap;
}
.create-rso-page-k3f .auto-group-hhu7-Sx5 .enter-rso-details-dv5 {
  width: 26.9rem;
  height: 4.7rem;
  position: absolute;
  left: 54.7rem;
  top: 15.2rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.28;
  color: #000000;
  font-family: Alatsi, 'Source Sans Pro';
  white-space: nowrap;
}
.create-rso-page-k3f .auto-group-hhu7-Sx5 .login-iRj {
  width: 12.1rem;
  height: 5.6rem;
  position: absolute;
  left: 115.6rem;
  top: 74.2rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.28;
  color: #ffffff;
  font-family: Alatsi, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5882fd;
  border-radius: 1rem;
}
.create-rso-page-k3f .auto-group-hhu7-Sx5 .home-nK7 {
  width: 6.2rem;
  height: 3.1rem;
  position: absolute;
  left: 85.5rem;
  top: 3.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.28;
  color: #000000;
  font-family: Alatsi, 'Source Sans Pro';
  white-space: nowrap;
}
.create-rso-page-k3f .auto-group-hhu7-Sx5 .login-3F3 {
  width: 5.8rem;
  height: 3.1rem;
  position: absolute;
  left: 100.6rem;
  top: 3.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.28;
  color: #000000;
  font-family: Alatsi, 'Source Sans Pro';
  white-space: nowrap;
}
.create-rso-page-k3f .auto-group-hhu7-Sx5 .sign-up-vpd {
  width: 7.7rem;
  height: 3.1rem;
  position: absolute;
  left: 115.3rem;
  top: 3.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.28;
  color: #000000;
  font-family: Alatsi, 'Source Sans Pro';
  white-space: nowrap;
}
.create-rso-page-k3f .auto-group-hhu7-Sx5 .contact-pQD {
  width: 8.6rem;
  height: 3.1rem;
  position: absolute;
  left: 131.9rem;
  top: 3.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.28;
  color: #000000;
  font-family: Alatsi, 'Source Sans Pro';
  white-space: nowrap;
}
.create-rso-page-k3f .auto-group-hhu7-Sx5 .username-iEh {
  box-sizing: border-box;
  padding: 1rem 4.1rem;
  width: 34.6rem;
  height: 5.1rem;
  position: absolute;
  left: 9.8rem;
  top: 28.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.28;
  color: #404040;
  font-family: Alatsi, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #5882fd;
  background-color: #ffffff;
}
.create-rso-page-k3f .auto-group-hhu7-Sx5 .username-w7T {
  box-sizing: border-box;
  padding: 1rem 4.1rem;
  width: 34.6rem;
  height: 5.1rem;
  position: absolute;
  left: 9.8rem;
  top: 40.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.28;
  color: #404040;
  font-family: Alatsi, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #5882fd;
  background-color: #ffffff;
}
.create-rso-page-k3f .auto-group-hhu7-Sx5 .username-x2Z {
  box-sizing: border-box;
  padding: 1rem 4.1rem;
  width: 34.6rem;
  height: 5.1rem;
  position: absolute;
  left: 50.9rem;
  top: 28.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.28;
  color: #404040;
  font-family: Alatsi, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #5882fd;
  background-color: #ffffff;
}
.create-rso-page-k3f .auto-group-hhu7-Sx5 .line-1-nGV {
  width: 117.8rem;
  height: 0.1rem;
  position: absolute;
  left: 10.4rem;
  top: 25.5rem;
  background-color: #000000;
}
.create-rso-page-k3f .auto-group-hhu7-Sx5 .username-6HB {
  box-sizing: border-box;
  padding: 1rem 4.1rem;
  width: 34.6rem;
  height: 5.1rem;
  position: absolute;
  left: 9.8rem;
  top: 48.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.28;
  color: #404040;
  font-family: Alatsi, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #5882fd;
  background-color: #ffffff;
}
.create-rso-page-k3f .auto-group-hhu7-Sx5 .username-XdP {
  box-sizing: border-box;
  padding: 1rem 4.1rem;
  width: 34.6rem;
  height: 5.1rem;
  position: absolute;
  left: 9.8rem;
  top: 56.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.28;
  color: #404040;
  font-family: Alatsi, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #5882fd;
  background-color: #ffffff;
}
.create-rso-page-k3f .auto-group-hhu7-Sx5 .login-mGq {
  width: 14.1429rem;
  height: 4.8rem;
  position: absolute;
  left: 9.8rem;
  top: 65rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.28;
  color: #ffffff;
  font-family: Alatsi, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5882fd;
  border-radius: 1rem;
}
.create-rso-page-k3f .auto-group-hhu7-Sx5 .event-c2Z {
  width: 5.9rem;
  height: 3.1rem;
  position: absolute;
  left: 70.7rem;
  top: 3.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.28;
  color: #000000;
  font-family: Alatsi, 'Source Sans Pro';
  white-space: nowrap;
}
.create-rso-page-k3f .auto-group-lweh-FrD {
  margin-right: 2.6583rem;
  display: flex;
  column-gap: 3.7167rem;
  align-items: center;
  flex-shrink: 0;
}
.create-rso-page-k3f .auto-group-lweh-FrD .facebook-1-m3s {
  width: 3.0833rem;
  height: 3.0833rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.create-rso-page-k3f .auto-group-lweh-FrD .twitter-1-5aM {
  margin-bottom: 0rem;
  width: 3.0833rem;
  height: 3.0833rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.create-rso-page-k3f .auto-group-lweh-FrD .linkedin-1-b2u {
  margin-bottom: 0rem;
  width: 3.0833rem;
  height: 3.0833rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.buttons{
  width: 12.1rem;
  height: 5.6rem;
  position: absolute;
  left: 62rem;
  top: 60.3rem;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.28;
  color: #ffffff;
  font-family: Alatsi, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5882fd;
  border-radius: 1rem;
}

.signup{
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.28;
  color: #5882fd;
  position: relative;
  background-color: transparent;
  left: 79.2rem; 
  top: 30.6rem;
}

.header{
  width: 5.8rem;
height: 3.1rem;
position: absolute;
left: 115.3rem;
top: 3.1rem;
font-size: 2.4rem;
font-weight: 400;
line-height: 1.28;
color: #000000;
font-family: Alatsi, 'Source Sans Pro';
white-space: nowrap;
background-color: transparent;
}

.error {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.28;
  color: #5882fd;
  position: relative;
  left: 55.7rem; 
  top: 18.6rem;
}

.warning {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.28;
  color: #5882fd;
  position: relative;
  left: 50.5rem; 
  top: 20rem;
}

/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
    
  box-sizing: border-box;
  padding: 1.221rem 8.7rem 0.6rem 1.193rem;
  width: 34.6rem;
  height: 5.1rem;
  position: relative;
  left: 50.2rem; 
  top: 20.6rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #5882fd;
  background-color: #ffffff;
  margin-bottom: 10px;
   
  }
  /* Style the container */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .header{
    width: 8.6rem;
  height: 3.1rem;
  position: absolute;
  left: 131.9rem;
  top: 3.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.28;
  color: #000000;
  font-family: Alatsi, 'Source Sans Pro';
  white-space: nowrap;
  }
