
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.login-7sb {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.login-7sb .rectangle-1-Ce9 {
  width: 144rem;
  height: 9.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}
.login-7sb .rectangle-2-7WD {
  width: 144rem;
  height: 83rem;
  position: absolute;
  left: 0;
  top: 7.7rem;
  background-color: #f0f4fc;
}
.login-7sb .x683-1-E53 {
  width: 91.7rem;
  height: 59.1rem;
  position: absolute;
  left: 0;
  top: 10.7rem;
  object-fit: cover;
  vertical-align: top;
}
.login-7sb .event-planner-wEM {
  width: 21.5rem;
  height: 4.7rem;
  position: absolute;
  left: 12.5rem;
  top: 2.4rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.28;
  color: #000000;
  font-family: Alatsi, 'Source Sans Pro';
  white-space: nowrap;
}
.login-7sb .login-Q7w {
  width: 8.6rem;
  height: 4.7rem;
  position: absolute;
  left: 79.2rem;
  top: 20.1rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.28;
  color: #000000;
  font-family: Alatsi, 'Source Sans Pro';
  white-space: nowrap;
}
.login-7sb .login-Udb {
  width: 12.1rem;
  height: 5.6rem;
  position: absolute;
  left: 80.4rem;
  top: 47.3rem;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.28;
  color: #ffffff;
  font-family: Alatsi, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5882fd;
  border-radius: 1rem;
}
.login-7sb .home-iXw {
  width: 6.2rem;
  height: 3.1rem;
  position: absolute;
  left: 85.5rem;
  top: 3.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.28;
  color: #000000;
  font-family: Alatsi, 'Source Sans Pro';
  white-space: nowrap;
}
.login-7sb .login-nnh{
  width: 5.8rem;
  height: 3.1rem;
  position: absolute;
  left: 100.6rem;
  top: 3.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.28;
  text-decoration-line: underline;
  color: #000000;
  font-family: Alatsi, 'Source Sans Pro';
  white-space: nowrap;
}
.login-7sb .sign-up-g7P {
  width: 7.7rem;
  height: 3.1rem;
  position: absolute;
  left: 115.3rem;
  top: 3.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.28;
  color: #000000;
  font-family: Alatsi, 'Source Sans Pro';
  white-space: nowrap;
}
.login-7sb .forgot-my-password-9mf {
  width: 13.7rem;
  height: 2.1rem;
  position: absolute;
  left: 80.4rem;
  top: 55.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.28;
  color: #4c7bff;
  font-family: Alatsi, 'Source Sans Pro';
  white-space: nowrap;
}
.login-7sb .not-a-member-sign-up-RDP {
  width: 16rem;
  height: 2.1rem;
  position: absolute;
  left: 101.9rem;
  top: 55.9rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.28;
  color: #4c7bff;
  font-family: Alatsi, 'Source Sans Pro';
  white-space: nowrap;
}
.login-7sb .vector-1-hRo {
  width: 145.5rem;
  height: 29rem;
  position: absolute;
  left: 0;
  top: 73.9rem;
  object-fit: contain;
  vertical-align: top;
}
.login-7sb .contact-QLD {
  width: 8.6rem;
  height: 3.1rem;
  position: absolute;
  left: 131.9rem;
  top: 3.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.28;
  color: #000000;
  font-family: Alatsi, 'Source Sans Pro';
  white-space: nowrap;
}

.error {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.28;
    color: #5882fd;
    position: relative;
    left: 79.2rem; 
    top: 16.6rem;
  }
/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
    
  box-sizing: border-box;
  padding: 1.221rem 8.7rem 0.6rem 1.193rem;
  width: 34.6rem;
  height: 5.1rem;
  position: relative;
  left: 79.2rem; 
  top: 16.6rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #5882fd;
  background-color: #ffffff;
  margin-bottom: 10px;
   
  }
  /* Style the container */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Style the submit button */
/* input[type=button] {
    width: 12.1rem;
    height: 5.6rem;
    position: absolute;
    left: 81.2rem;
    top: 47.3rem;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.28;
    color: #ffffff;
    font-family: Alatsi, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5882fd;
    border-radius: 1rem;
  } */

  .buttons{
    width: 12.1rem;
    height: 5.6rem;
    position: absolute;
    left: 81.2rem;
    top: 47.3rem;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.28;
    color: #ffffff;
    font-family: Alatsi, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5882fd;
    border-radius: 1rem;
  }

  .signup{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.28;
    color: #5882fd;
    position: relative;
    background-color: transparent;
    left: 79.2rem; 
    top: 30.6rem;
  }
  /* button{
    width: 200px;
    height: 30px;
    text-align: center;
  } */

  /* input[type=button] {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.28;
    color: #5882fd;
    position: relative;
    left: 81.2rem;
    top: 30.3rem;
    
  } */



.login-7sb .username-H97 {
  box-sizing: border-box;
  padding: 1.221rem 8.7rem 0.6rem 1.193rem;
  width: 34.6rem;
  height: 5.1rem;
  position: absolute;
  left: 79.2rem;
  top: 26.6rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #5882fd;
  background-color: #ffffff;
}
.login-7sb .username-H97 .envelope-closed-1-Xp9 {
  margin: 0rem 4.193rem 0.421rem 0rem;
  width: 3.3146rem;
  height: 2.8583rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.login-7sb .username-H97 .email-username-cqb  {
  text-indent: 50px;
  margin-top: 0.1792rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.28;
  color: #404040;
  font-family: Alatsi, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-7sb .password-6km {
  box-sizing: border-box;
  padding: 0.973rem 16rem 0.6rem 1.442rem;
  width: 34.6rem;
  height: 5.1rem;
  position: absolute;
  left: 79.2rem;
  top: 35.3rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #5882fd;
  background-color: #ffffff;
}
.login-7sb .password-6km .lock-close-1-mM7 {
  margin: 0rem 4.441rem 0.366rem 0rem;
  width: 2.817rem;
  height: 3.1604rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.login-7sb .password-6km .password-4b7 {
  margin-top: 0.4268rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.28;
  color: #404040;
  font-family: Alatsi, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-7sb .facebook-1-xAh {
  width: 3.0833rem;
  height: 3.0833rem;
  position: absolute;
  left: 124.6583rem;
  top: 94.9583rem;
  object-fit: contain;
  vertical-align: top;
}
.login-7sb .twitter-1-3xq {
  width: 3.0833rem;
  height: 3.0833rem;
  position: absolute;
  left: 131.4583rem;
  top: 94.9583rem;
  object-fit: contain;
  vertical-align: top;
}
.login-7sb .linkedin-1-AGm {
  width: 3.0833rem;
  height: 3.0833rem;
  position: absolute;
  left: 138.2583rem;
  top: 94.9583rem;
  object-fit: contain;
  vertical-align: top;
}
.login-7sb .event-Fp1 {
  width: 5.9rem;
  height: 3.1rem;
  position: absolute;
  left: 71.7rem;
  top: 3.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.28;
  color: #000000;
  font-family: Alatsi, 'Source Sans Pro';
  white-space: nowrap;
}